div.CheckoutButton a {
    background: url(/Default/images/buttons/fr-FR/checkout-hover.png) left center no-repeat;
}

div.CheckoutButtonDisabled a {
    background: none;
}

div.MyPagesButton a {
    background: url(/Default/images/buttons/fr-FR/my-pages-hover.png) left center no-repeat;
}

div.MyPagesButtonDisabled a {
    background: none;
}

div.LogInButton a {
    background: url(/Default/images/buttons/fr-FR/login-hover.png) left center no-repeat;
}

div.LogOutButton a {
    background: url(/Default/images/buttons/fr-FR/logout-hover.png) left center no-repeat;
}

div.search-box-button a {
    background: url(/Default/images/buttons/fr-FR/search-hover.png) left center no-repeat;
}

a.button-info {
    background: url(/Default/images/buttons/fr-FR/more-info-hover.png) left center no-repeat;
}

a.buy-button {
    background: url(/Default/images/buttons/fr-FR/add-hover.png) left center no-repeat;
}

div.purchase-block-buy a.buy-button {
    background: url(/Default/images/buttons/fr-FR/add-big-hover.png) left center no-repeat;
}

div.offers-list-item-more-info a {
    background: url(/Default/images/buttons/fr-FR/more-info-hover.png) left center no-repeat;
}

div.newsletter-box-button {
    background: url(/Default/images/buttons/fr-FR/ok-hover.png) left center no-repeat;
}

div.NewsArchiveButton a {
    background: url(/Default/images/buttons/fr-FR/newsarchive-hover.png) left center no-repeat;
}

a.ButtonInfo {
    background: url(/Default/images/buttons/fr-FR/more-info-hover.png) left center no-repeat;
}

a.ButtonBuy {
    background: url(/Default/images/buttons/fr-FR/add-hover.png) left center no-repeat;
}

a.RelatedProductMoreInfoButton {
    background: url(/Default/images/buttons/fr-FR/more-info-hover.png) left center no-repeat;
}

a.RelatedProductBuyButton {
    background: url(/Default/images/buttons/fr-FR/add-hover.png) left center no-repeat;
}

table.ProductListHorizontalAdvanced td.ButtonBuy a {
    background: url(/Default/images/buttons/fr-FR/add-hover.png) left center no-repeat;
}

