<j:PageHeader  />
<j:PageSettings LeftAreaRenderMode="Exclude" DisplayRightArea="False" />


<j:StartpageControlBegin />
<Template>
    <j:StartpageImage />
    <j:StartpageHeader />
    <j:StartpageText />
</Template>
<j:StartpageControlEnd />


<j:StartpageItemListTemplateBegin />

<j:StartpageItemList ProductRestImageSize="Medium">
    <Template>
        <j:ProductItemTemplateBegin />
        <j:StartpageProductImage/>
        <div class="product-buttons">
            <j:StartpageProductButtons/>
        </div>
        <div class="product-info">
            <j:StartpageProductName/>
            <j:StartpageProductPrice/>
        </div>
        <j:ProductItemTemplateEnd />
        <j:CustomItemTemplateBegin />
        <j:CustomItemImage/>
        <j:CustomItemText/>
        <j:CustomItemTemplateEnd />
    </Template>
</j:StartpageItemList>


<j:StartpageItemListTemplateEnd />


<j:PageFooter/>
