$checkout-field-border-radius: 3px;
$checkout-field-border-color:   #AAA;

html.page-responsive-checkout,
html.page-responsive-mobile-checkout,
html.page-responsive-orderconfirmed {

  body{
    font-family: 'Roboto Condensed', sans-serif;
  }

  #main-area .content{
    padding-top: 20px;
  }

  // Checkout
  h1 {
    max-width: $js-checkout-max-width;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    i{
      display: none;
    }

    //HIDE LOGIN & COMPANY
    a{
      float: none;
      display: block;
    }
    .change-customertype-button{

    }
  }

  // Checkout width
  .checkout-main-wrapper {
    max-width: $js-checkout-max-width;
  }

  .cart-details-item .cart-details-image a {
    @include autosize-image-container($js-product-wrapper-image-wrapper-height);
  }

  // Numbered bullets
  h2.component-header {
    span.component-header-number {
      background-color: $js-checkout-header-number-color;
    }
  }

  .checkout-main-wrapper a:focus {
    outline: none;
  }

  // Big checkout button
  .form-button.form-button-checkout {
    background-color: $js-checkout-checkout-background-color;
    &:focus {
      background-color: darken($js-checkout-checkout-background-color, $js-checkout-form-button-factor);
    }
    &:hover {
      background-color: darken($js-checkout-checkout-background-color, $js-checkout-form-button-factor);
    }
  }

  // Big checkout button - No items in cart
  .empty-cart-wrapper .continue-shopping-button.form-button {
    &:focus {
      outline: none !important;
    }
  }



  //CART ITEMS
  .cart-details-item{
    .cart-details-quantity{
      .cart-details-amount-input, .cart-details-item .RadInput_Error_Default .cart-details-amount-input{
        border-radius: $checkout-field-border-radius;
        border: 1px solid $checkout-field-border-color;
      }
    }
  }


  //CUSTOMER FIELDS
  body .form-text {
    width: 100%;
    float: none;
    clear: both;
    border: 1px solid $checkout-field-border-color;
    outline-color: #888;
    -moz-outline-color: #888;
    padding: 12px 6px;
    border-radius: $checkout-field-border-radius;
    margin-bottom: 2px;
    font-size: 14px;
    font-family: inherit;
    -webkit-appearance: none;
  }



  .country-selector-item .country-selector-item-link {
    border-radius: $checkout-field-border-radius;
    background-color: #ffffff;
    border: 1px solid $checkout-field-border-color;
    color: #333333;
    display: block;
    padding: 5px 8px 8px 8px;
  }

  // Country selector - Active item
  .country-selector-item-link.country-selector-item-link-selected {
    background-color: $js-checkout-country-selector-item-active-background-color;
    color: $js-checkout-country-selector-item-active-color;
  }



  // Payment selector - Active item
  .payment-selector-wrapper {
    .payment-selector-inner-wrapper{
      border-radius: $checkout-field-border-radius;
      border: 1px solid $checkout-field-border-color;
      overflow: hidden;
    }
    .payment-selector-item{
      border: none;
      border-bottom: 1px solid $checkout-field-border-color;
      &:last-child{
        border-bottom: none;
      }
    }
    .payment-selector-item-link{
      border: none;
    }
    .payment-selector-item.payment-selector-item-selected, .payment-selector-item-link.payment-selector-item-link-selected {
      background-color: $js-checkout-payment-selector-item-active-background-color;
      color: $js-checkout-payment-selector-item-active-color;
      .payment-selector-item-options {
        border: none;
        background-color: lighten($js-checkout-payment-selector-item-active-background-color,5%);
      }
    }
  }

  // Freight selector - Active item
  .freight-selector-wrapper {
    .freight-selector-inner-wrapper{
      border-radius: $checkout-field-border-radius;
      border: 1px solid $checkout-field-border-color;
      overflow: hidden;
    }
    .freight-selector-item {
      border: none;
      border-bottom: 1px solid $checkout-field-border-color;
      &:last-child{
        border-bottom: none;
      }
      .freight-selector-item-link.aspNetDisabled {
        background-color: $js-checkout-freight-selector-item-active-background-color;
        color: $js-checkout-freight-selector-item-active-color;
      }
    }
  }

  //
  //  Voucher box
  //
  .discount-wrapper .discount-header {
    text-decoration: none;
    color: $primary-color;
    border-bottom: 1px dotted $primary-color;
    &:hover {
      color: darken($primary-color, 15%);
    }
  }

  div.gift-voucher-input-wrapper {
    margin-bottom: $js-page-padding-right;

    div.gift-voucher-form {
      @include clearfix();

      div.gift-voucher-form-number,
      div.gift-voucher-form-pincode {
        width: 50%;
        float: left;
      }

      div.gift-voucher-form-number {
        padding-right: $js-page-padding-right;

        @media #{$medium-down} {
          padding-right: $js-page-padding-left/2;
        }
      }

      div.gift-voucher-form-pincode {
        padding-left: $js-page-padding-left;

        @media #{$medium-down} {
          padding-left: $js-page-padding-left/2;
        }
      }

      div.gift-voucher-form-button {
        margin-top: $js-page-padding-left / 2;
        float: left;

        input[type="submit"] {
          margin: 0;
        }
      }
    }

    p.gift-voucher-input-active-header {
      margin-top: $js-page-padding-left/2;
    }
  }



  //
  //  Free Freight Message
  //
  .responsive-free-freight.responsive-free-freight-placement-cartsummary,
  .responsive-free-freight.responsive-free-freight-placement-orderconfirmation {
    color: $js-body-font-color;
    background-color: $js-checkout-freefreight-background-color;
    border: 1px solid $js-checkout-freefreight-background-color;
    border-radius: $checkout-field-border-radius;
    &.responsive-free-freight-limit-reached {
      background-color: $js-checkout-freefreight-reached-background-color;
      border: 1px solid $js-checkout-freefreight-reached-background-color;
      color: $js-body-font-color;
    }
  }

  //
  //  Small only
  //
  @media #{$small-only} {
    // Checkout
    h1 {
      // Log In & Change Customer Type
      .change-customertype-button,
      a.cart-header-login-button {
        display: block;
        float: none;
      }
      .change-customertype-button {
        margin: 12px 0 3px;
        border-top: 1px solid #aaa;
        padding: 9px 6px 3px;
      }
      a.cart-header-login-button {
        margin: 3px 0 12px;
        border-bottom: 1px solid #aaa;
        padding: 3px 6px 9px;
      }
    }

    // Cart item image needs a max height value for portrait image format
    .cart-details-item .cart-details-image {
      max-height: 90px;
      overflow: hidden;
    }
  }

  //
  //  Medium up
  //
  @media #{$medium-up} {
    // Checkout
    h1 {
      // Log In & Change Customer Type
      .change-customertype-button,
      a.cart-header-login-button {

      }
      .change-customertype-button {
        padding-left: 0;
      }
    }
  }
}