html.page-responsive-orderconfirmed {
	div.customer-club-panel {
		padding: $js-page-padding-left;
		border: 1px solid $base;
		margin-bottom: $js-page-padding-left;

		@media #{$large-up} {
			div.form-row {
				float: left;
				width: 50%;

				&:first-child {
					padding-right: $js-page-padding-left / 2;
				}
			}

			a.customer-club-optin {
				margin-top: $js-page-padding-left / 2;
			}
		}
	}

	.order-details-confirmed-summary-wrapper {
		margin-bottom: 12px;
	}

	.order-details-confirmed-box {
		margin-bottom: 22px;
	}
}