{{> header }}

<h1>Responsive Base</h1>

{{#if packageData }}
    <h4>Version <b>{{ packageData.version }}</b></h4>
{{/if}}

{{#if activeModules }}
    <h4>Active modules</h4>
    <ul>
    {{#each activeModules}}
        {{#each this}}
            <li>{{this}}</li>
        {{/each}}
    {{/each}}
    </ul>
    <a href="/modules">More modules</a>
{{/if}}
<br>
<a href="/troubleshooting">Troubleshooting</a>

{{> footer }}
