{{> header }}

<h1>Style</h1>

<div id="style-wrapper">
    {{#each data.matchingWhiteList}}
        {{#ifValue2 type equals="group" }}
            <div class="item-group resetfloat">
                <h2>{{ label }}</h2>
            </div>
        {{else}}
        <div class="item item-type-{{ this.type }}">
            <div class="key">{{ this.label}}</div>
            <div class="value">
                <form method="post" id="line-{{line}}" onsubmit="styleEdit.save('line-{{line}}'); return false;">
                    <input type="hidden" name="line" id="key" value="{{this.line}}">
                    <input type="hidden" name="key" id="key" value="{{this.key}}">

                    <input type="text" name="value" id="value" value="{{this.value}}">

                    <button class="button">Save</button>
                </form>
            </div>
        </div>
        {{/ifValue2 }}
    {{/each}}
</div>

<script>
    var styleEdit = {
        save: function (formId) {
            var formElement = $("#" + formId);
            var formData = formElement.serializeArray();
            var button = formElement.find("button");
            styleEdit.buttonSpinnerStart(formElement, button);
            $.ajax({
                type: "POST",
                url: "/style/save",
                data: {"data": formData},
                dataType: JSON,
                complete: function (data) {
                    data = JSON.parse(data.responseText);
                    if (data.error) {
                        console.error(data.error);
                        styleEdit.buttonSpinnerError(formElement, button, data.error);
                    }
                    if (data.success) {
                        console.log(data.success);
                        setTimeout(function () {
                            styleEdit.buttonSpinnerRestore(formElement, button);
                        }, 90);
                    }
                }
            });
        },
        buttonSpinnerStart: function (form, button) {
            button.html("Waiting... <i class='fa fa-spinner fa-spin'></i>");
            button.addClass("spinner");
            button.removeClass("error");
        },
        buttonSpinnerRestore: function (form, button) {
            button.html("Save");
            button.removeClass("error");
            button.removeClass("spinner");
            form.find(".error-message").remove();
        },
        buttonSpinnerError: function (form, button, error) {
            form.find(".error-message").remove();
            button.html("Error");
            button.removeClass("spinner");
            button.addClass("error");
            button.after("<span class='error-message'>"+ error +"</span>");
        }
    };

    $(document).ready(function () {
        $(document).foundation();
    });
</script>

{{> footer }}
